<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Blockchain Implementation</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <button name="Colgate" ad="colgate">
        <p>colgate</p>
        <img src="..\static\ad\colgate_banner.jpg" alt="Advertisement">
    </button>
    <button name="Pringles" ad="pringles">
        <p>pringles</p>
        <img src="..\static\ad\pringles_banner.jpg" alt="Advertisement"> -->
    </button>
    <button name="Sprite" ad="sprite">
        <p>sprite</p>
        <img src="..\static\ad\sprite_banner.jpg" alt="Advertisement"> -->
    </button>
</body>

<!--run chrome without cors "C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" --disable-web-security --disable-gpu --user-data-dir=~/chromeTemp -->

<script>
    const url = 'http://127.0.0.1:5000/process_transaction'
    const ads = document.querySelectorAll("button[ad]")
    console.log(ads)
    ads.forEach(ad => {
        ad.onclick = function () {
            axios.post(url, {
                name: ad.name
            })
        }
    })
</script>

</html>
